:root {
  /* colors */
  --text-title: #1f314f;
  --background-body: #d5e1ef;
  --text-description: #68778d;
  --background-card: #ffffff;
  /* fonts */
  /* title */
  --title-font-size: 1.4rem;
  --title-line-height: 1.2;
  /* content */
  --description-font-size: 0.9rem;
  --description-line-height: 1.4;
}

/* Setup website fonts */
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.woff2") format("woff2"),
    /* Modern browsers */ url("/fonts/Outfit-Regular.woff") format("woff"); /* Fallback */
  font-weight: 400;
  font-display: swap; /* Prevents delays */
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Bold.woff2") format("woff2"),
    /* Modern browsers */ url("/fonts/Outfit-Bold.woff") format("woff"); /* Fallback */
  font-weight: 700;
  font-display: swap; /* Prevents delays */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, .container, .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Outfit", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--background-body);
  text-align: center;
}

.container {
  max-width: 320px;
  background-color: var(--background-card);
  border-radius: 20px;
  padding: 1rem 1rem 2.5rem;
  gap: 1.5rem;
  overflow: hidden;
  height: auto;
}

.qr-code {
  display: block;
  width: 100%;
  max-width: 288px;
  border-radius: 10px;
}

.content {
  gap: 1rem;
  padding: 0 1rem;
}

.title {
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  color: var(--text-title);
}

.description {
  font-weight: 400;
  font-size: var(--description-font-size);
  line-height: var(--description-line-height);
  color: var(--text-description);
  letter-spacing: 0.2px;
}
